// https://to-flatwhite1.github.io/project1/resources/fonts/AlbraBookTRIAL-Black.woff /* 절대경로 */

@font-face {
  font-family: "AlbraSansTRIAL-Bold";
  src: url("https://to-flatwhite1.github.io/project1/resources/fonts/AlbraSansTRIAL-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AlbraGroteskTRIAL-Medium";
  src: url("https://to-flatwhite1.github.io/project1/resources/fonts/AlbraGroteskTRIAL-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlbraTextTRIAL-Medium";
  src: url("https://to-flatwhite1.github.io/project1/resources/fonts/AlbraTextTRIAL-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlbraSansTRIAL-Medium";
  src: url("https://to-flatwhite1.github.io/project1/resources/fonts/AlbraSansTRIAL-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QTWeise-Bold";
  src: url("https://to-flatwhite1.github.io/project1/resources/fonts/QTWeise-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QTWeise";
  src: url("https://to-flatwhite1.github.io/project1/resources/fonts/QTWeisewoff") format("woff");
  font-weight: normal;
  font-style: normal;
}
