<div class="footerInner">
  <img class="footer-logo" src="../resources/images/pattern/common/sulwhasoo_orange_logo.jpeg" alt="logo" />
  <div class="footer_wrap">
    <div class="footer-details">
      <div class="single-footer-detail">
        <span class="label">상호명</span>
        <span class="text">(주)아모레퍼시픽</span>
      </div>
      <div class="single-footer-detail">
        <span class="label">대표이사</span>
        <span class="text">김승환</span>
      </div>
      <div class="single-footer-detail">
        <span class="label">주소</span>
        <span class="text">서울특별시 용산구 한강대로 100(한강로2가)</span>
      </div>
      <div class="single-footer-detail">
        <span class="label">사업자등록번호</span>
        <span class="text">106-86-43373</span>
      </div>
      <div class="single-footer-detail">
        <span class="label">이메일</span>
        <span class="text"><a href="mailto:support_kr@amoremall.com">support_kr@amoremall.com(주문/배송/쇼핑 문의)</a></span>
      </div>
    </div>
    <div class="footer_wrapp2">
      <span class="footer-copyright">© AMOREPACIFIC CORPORATION. All rights reserved.</span>
      <div class="footer-section">
        <ul class="footer-social">
          <li>
            <a href="https://www.youtube.com/user/sulwhasookorea" target="_blank">Youtube&nbsp;<i class="fa-brands fa-youtube"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/sulwhasoo.official/" target="_blank">Instagram&nbsp;<i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/sulwhasoo.official/?locale=ko_KR" target="_blank">Facebook&nbsp;<i class="fa-brands fa-square-facebook"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="familysiteInner">
      <button class="familysite">familysite&nbsp;&nbsp;<i class="fa-solid fa-caret-down"></i></button>
      <ul class="familysiteInner__lst">
        <li><a href="https://www.amoremall.com/kr/ko/display/brand/detail?brandSn=17&utm_campaign=ao_google_productdpa&gad_source=1&gclid=EAIaIQobChMItereo5CpiQMVQFsPAh3hjwTpEAAYASAAEgI0J_D_BwE">아이오페</a></li>
        <li><a href="https://www.amoremall.com/kr/ko/display/rank?utm_campaign=pm_goolge_pmax&utm_source=google&utm_medium=da&utm_content=conversion_all_brand&utm_term=&utm_campaign=ao_google_productdpa&gad_source=1&gclid=EAIaIQobChMI48X7kZCpiQMVfNUWBR3_jCU_EAAYASAAEgJMZfD_BwE">아모레몰</a></li>
      </ul>
    </div>
  </div>
</div>
